[bumpversion]
current_version = 2.0.1
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:README.md]
search = Version: {current_version}
replace = Version: {new_version}

[bumpversion:file(mcp-img):docker/Dockerfile]
search = rom-manager[mcp]>={current_version}
replace = rom-manager[mcp]>={new_version}

[bumpversion:file(agent-img):docker/Dockerfile]
search = rom-manager[agent]>={current_version}
replace = rom-manager[agent]>={new_version}

[bumpversion:file:rom_manager/version.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:rom_manager/agent_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:rom_manager/mcp_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
