ollama/
venv/
.venv/
__pycache__/
*.pyc
.git/
.env
scripts/
tests/
rom_manager.egg-info*
models/
.github/
build/
dist/
.bumpversion.cfg
.pre-commit-config.yaml
pytest.ini
./tests/

Dockerfile
debug.Dockerfile
compose.yml
